<!--<div>-->
<!--  <button class="btn btn-success" (click)="showCreatForm()">Add New</button>-->
<!--</div>-->

<div class="container ">
  <div class="row">
    <div class="col-6">
      <div class="card border-primary">
        <h1>List Product</h1>
        <div class="card-body">
        <div *ngIf="productList.length!=0;else nodata">
        <table class="table-hover">
          <thead>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Status</th>
            <th>Origin</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pro of productList,let i=index">
            <td>{{i + 1}}</td>
            <td>{{pro.id}}</td>
            <td>{{pro.name|titlecase}}</td>
            <td>{{pro.price|currency:'VND'}}</td>
            <td>{{pro.date|date:'dd/MM/yyyy'}}</td>
            <td>
              <p *ngIf="pro.quantity===0" [ngClass]="'het-hang'">Hết Hàng</p>
              <p *ngIf="pro.quantity>0 && pro.quantity<10" [ngClass]="'con-it'">Còn Ít</p>
              <p *ngIf="pro.quantity>=10" [ngClass]="'Con-nhieu'">còn nhiều</p>
            </td>
            <td>{{pro.origin}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #nodata>
        <h1>No Product</h1>
      </ng-template>
    </div>
      </div>
    </div>
    <div class="col-6">
      <app-show-detail-product [product]="productDetail"  ></app-show-detail-product>

    </div>
  </div>
</div>
