<div *ngIf="product.quantity > 0 ; else elseEdit">
  <h1 style="color: teal" class="text-uppercase mb-5">view product</h1>
  <table class="table table-hover">
    <tbody>
    <tr>
      <th>ID</th>
      <td>{{product.id}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{product.name | titlecase}}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{product.price | currency:'đ'}}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{product.date | date: 'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>{{product.quantity}}</td>
    </tr>
    <tr>
      <th>Origin</th>
      <td>{{product.origin}}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #elseEdit>
  <td >
    <input type="number" #add>
    <button class="btn btn-warning" (click)="editProduct(product,add.value)">Update Quantity</button>
  </td>
</ng-template>
