
<div class="container justify-content-center align-items-center">
  <div class="row">
    <div class="col-6">
      <div class="card border-primary">
        <h1>List Product</h1>
        <div class="card-body">
          <div *ngIf="productList.length ;else nodata">
            <table class="table-primary">
              <thead>
              <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Origin</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pro of productList,let i=index" (click)="showDetail(pro.id)" >
                <td>{{i + 1}}</td>
                <td>{{pro.id}}</td>
                <td><a [routerLink]="['/detail',pro.id]">{{pro.name|titlecase}}</a></td>
                <td>{{pro.price|currency:'VND'}}</td>
                <td>{{pro.date|date:'dd/MM/yyyy'}}</td>
                <td>
                  <p *ngIf="pro.quantity===0" [ngClass]="'het-hang'">Hết Hàng</p>
                  <p *ngIf="pro.quantity>0 && pro.quantity<10" [ngClass]="'con-it'">Còn Ít</p>
                  <p *ngIf="pro.quantity>=10" [ngClass]="'Con-nhieu'">còn nhiều</p>
                </td>
                <td>{{pro.origin}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <ng-template #nodata>
            <h1>No Product</h1>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
